@use '../../settings/variables';
@use '../../settings/mixins';

.home-about {
  padding: 60px 0;
  @include mixins.pc {
    padding: 80px 0;
  }

  &__text {
    margin-top: 16px;
    @include mixins.pc {
      text-align: center;
    }
  }
}
