@use '../../settings/variables';
@use '../../settings/mixins';

.home-cv {
  position: relative;
  background: #eee url('../images/cv.jpg') no-repeat center/cover;
  color: #fff;
  padding: 80px 0;
  @include mixins.pc {
    padding: 120px 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__inner {
    position: relative;
  }
  &__action {
    text-align: center;
  }
  &__btn {
    display: inline-block;
    background: variables.$bg-grad;
    padding: 16px 32px;
    border-radius: 56px;
    transition: box-shadow .4s;
    &:hover {
      box-shadow: 0 8px 32px 8px rgba(0,0,0,.1);
    }
  }
}
