@use '../settings/variables';
@use '../settings/mixins';

p {
  margin: 0;
  color: variables.$color-main;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 24px;
  @include mixins.sp() {
    padding: 0 16px;
  }
}
