$color-main: #aad6ec;
$color-base: #eef9ff;
$color-accent: #fc9d9d;
$color-font: #5b5b5b;

$font-default: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
  "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
