extends /inc/layout/_base

block meta
  title トップページ
  meta(name="description", content="トップページ")

block content
  main
    include /inc/pages/home/_hero
    include /inc/pages/home/_about
    include /inc/pages/home/_use
    include /inc/pages/home/_template
    include /inc/pages/home/_cv
