- var siteTitle = 'Sample'
-
  var gnavList = [
    {
      url: '#about',
      text: siteTitle + 'について'
    },
    {
      url: '#how-to-use',
      text: siteTitle + 'の使い方'
    },
    {
      url: '#template',
      text: 'テンプレート一覧'
    }
  ];
