section.home-about
  .container
    .home-about__inner
      h2.home-section-title #{siteTitle}について
      .home-about__text
        p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        p テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
