section.home-hero
  .container
    .home-hero__inner
      .home-hero__main
        h2.home-hero__catch キャッチコピー
        p.home-hero__text
          | テキストです。テキストです。テキストです。
          br
          | テキストです。テキストです。テキストです。
