section.home-use
  .container
    .home-use__inner
      h2.home-section-title #{siteTitle}の使い方
      ul.home-use__list
        - for (var i = 0; i < 4; i++)
          li.home-use__item
            dl.use-data
              .use-data__head STEP #{i+1}
              .use-data__img
              dt.use-data__dt テキストテキスト
              dd.use-data__dd 説明が入ります。説明が入ります。説明が入ります。説明が入ります。
